body {
  background-color: rgb(219, 219, 219);
}

.heading {
  color: #000000;
  font-size: x-large;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: auto;
  padding: 3%;
}
